# Db credentials
DB_USER=<your_db_user>
DB_PASSWORD=<your_db_password>
DB_NAME=<your_db_name>

# prisma db url
DATABASE_URL=<your_database_url>

# App origins
PORT=<your_port>
NODE_ENV=<your_node_env>
CORS_ORIGIN=<your_cors_origin>
BETTER_AUTH_URL=<your_better_auth_url>
FRONTEND_URL=<your_frontend_url>
BETTER_AUTH_TRUSTED_ORIGINS=<your_better_auth_trusted_origins>

# SMTP for password reset emails
EMAIL_PROVIDER=<your_email_provider>
SMTP_HOST=<your_smtp_host>
SMTP_PORT=<your_smtp_port>
SMTP_SECURE=<true_or_false>
SMTP_USER=<your_smtp_user>
SMTP_PASS=<your_smtp_password>
SMTP_FROM=<your_email_from>
