<hlm-alert-dialog-header>
  <h3 hlmAlertDialogTitle>{{ title() }}</h3>
  <p hlmAlertDialogDescription>
    <ng-content select="[deleteDialogDescription]"></ng-content>
  </p>
</hlm-alert-dialog-header>

<hlm-alert-dialog-footer>
  <button hlmBtn hlmDialogClose type="button" variant="outline">
    {{ cancelLabel() }}
  </button>
  <button
    hlmBtn
    type="button"
    variant="destructive"
    [disabled]="isBusy()"
    (click)="confirm.emit()"
  >
    {{ isBusy() ? busyLabel() : confirmLabel() }}
  </button>
</hlm-alert-dialog-footer>
