<div class="flex items-start gap-4">
  @for (label of labels(); track label; let i = $index) {
    <div class="relative flex min-w-0 flex-1 flex-col items-center gap-2">
      <button
        type="button"
        [hlmTooltip]="
          'jobs.progression.setStatusTooltip' | transloco: { label: label }
        "
        [class]="stepClasses(i)"
        (click)="selectStep(i)"
        [disabled]="disabled()"
      >
        @if (!errorState() && isStepCompleted(i)) {
          <ng-icon hlm size="sm" name="lucideCheck" />
        } @else {
          {{ i + 1 }}
        }
      </button>
      <button
        type="button"
        [hlmTooltip]="
          'jobs.progression.setStatusTooltip' | transloco: { label: label }
        "
        [class]="labelClasses(i)"
        (click)="selectStep(i)"
        [disabled]="disabled()"
      >
        {{ label }}
      </button>

      @if (i < labels().length - 1) {
        <div [class]="connectorClasses(i)"></div>
      }
    </div>
  }
</div>
