<hlm-dialog-header>
  <h2 hlmDialogTitle>Edit Job</h2>
  <p hlmDialogDescription>
    Update the details for the job at {{ job.company }}.
  </p>
</hlm-dialog-header>

<form
  [formGroup]="form"
  id="editJobForm"
  class="space-y-4 py-4"
  (ngSubmit)="submit()"
>
  <hlm-field-group>
    <hlm-field>
      <label hlmLabel for="position">Position*</label>
      <input
        hlmInput
        id="position"
        formControlName="position"
        placeholder="e.g. Frontend Engineer"
        class="w-full"
      />
      @if (form.get('position')?.invalid && form.get('position')?.touched) {
        <hlm-field-error validator="required"
          >Position is a required field.</hlm-field-error
        >
      } @else {
        <p hlmDialogDescription>e.g. Frontend Engineer</p>
      }
    </hlm-field>
    <hlm-field>
      <label hlmLabel for="company">Company*</label>
      <input
        hlmInput
        id="company"
        formControlName="company"
        placeholder="e.g. Acme Inc"
        class="w-full"
      />
      @if (form.get('company')?.invalid && form.get('company')?.touched) {
        <hlm-field-error validator="required"
          >Company is a required field.</hlm-field-error
        >
      } @else {
        <p hlmDialogDescription>e.g. Acme Inc</p>
      }
    </hlm-field>
    <hlm-field>
      <label hlmLabel for="link">Job Link*</label>
      <input
        hlmInput
        id="link"
        formControlName="link"
        placeholder="https://..."
        class="w-full"
      />
      @if (form.get('link')?.invalid && form.get('link')?.touched) {
        <hlm-field-error validator="required"
          >Job link is a required field.</hlm-field-error
        >
      } @else {
        <p hlmDialogDescription>Link to the job posting</p>
      }
    </hlm-field>

    <hlm-field>
      <label hlmLabel for="description">Description*</label>
      <textarea
        hlmTextarea
        id="description"
        formControlName="description"
        placeholder="A brief overview of the role"
        rows="4"
        class="w-full min-h-[120px] h-[120px] [field-sizing:fixed] resize-none overflow-y-auto"
      ></textarea>
      @if (
        form.get('description')?.invalid && form.get('description')?.touched
      ) {
        <hlm-field-error validator="required"
          >Description is a required field.</hlm-field-error
        >
      } @else {
        <p hlmDialogDescription>A brief overview of the role</p>
      }
    </hlm-field>

    @if (submitError()) {
      <div class="text-sm font-medium text-destructive">
        {{ submitError() }}
      </div>
    }
  </hlm-field-group>
</form>
<app-edit-job-dialog-footer
  formId="editJobForm"
  [disableSubmit]="form.invalid"
  [isSubmitting]="isSubmitting()"
/>
