<hlm-dialog-header>
  <h2 hlmDialogTitle>Create Job</h2>
  <p hlmDialogDescription>Fill in the details for the new job.</p>
</hlm-dialog-header>

<form
  [formGroup]="form"
  id="createJobForm"
  class="space-y-4 py-4"
  (ngSubmit)="submit()"
>
  <hlm-field-group>
    <hlm-field>
      <label hlmLabel for="position">Position*</label>
      <input
        hlmInput
        id="position"
        formControlName="position"
        placeholder="e.g. Frontend Engineer"
        class="w-full"
      />
      @if (form.get('position')?.invalid && form.get('position')?.touched) {
        <hlm-field-error validator="required"
          >Position is a required field.</hlm-field-error
        >
      } @else {
        <p hlmDialogDescription>e.g. Frontend Engineer</p>
      }
    </hlm-field>
    <hlm-field>
      <label hlmLabel for="company">Company*</label>
      <input
        hlmInput
        id="company"
        formControlName="company"
        placeholder="e.g. Acme Inc"
        class="w-full"
      />
      @if (form.get('company')?.invalid && form.get('company')?.touched) {
        <hlm-field-error validator="required"
          >Company is a required field.</hlm-field-error
        >
      } @else {
        <p hlmDialogDescription>e.g. Acme Inc</p>
      }
    </hlm-field>
    <hlm-field>
      <label hlmLabel for="link">Job Link*</label>
      <input
        hlmInput
        id="link"
        formControlName="link"
        placeholder="https://..."
        class="w-full"
      />
      @if (form.get('link')?.invalid && form.get('link')?.touched) {
        <hlm-field-error validator="required"
          >Job link is a required field.</hlm-field-error
        >
      } @else {
        <p hlmDialogDescription>Link to the job posting</p>
      }
    </hlm-field>

    <hlm-field>
      <label hlmLabel for="description">Description*</label>
      <textarea
        hlmTextarea
        id="description"
        formControlName="description"
        placeholder="A brief overview of the role"
        rows="4"
        class="min-h-24"
      ></textarea>
      @if (
        form.get('description')?.invalid && form.get('description')?.touched
      ) {
        <hlm-field-error validator="required"
          >Description is a required field.</hlm-field-error
        >
      } @else {
        <p hlmDialogDescription>A brief overview of the role</p>
      }
    </hlm-field>

    @if (submitError()) {
      <div class="text-sm font-medium text-destructive">
        {{ submitError() }}
      </div>
    }
  </hlm-field-group>
</form>
<hlm-dialog-footer>
  <button hlmBtn variant="outline" type="button" hlmDialogClose>
    <ng-icon hlm name="lucideUndo2" size="sm" />Cancel
  </button>
  <button
    hlmBtn
    type="submit"
    form="createJobForm"
    [disabled]="form.invalid || isSubmitting()"
  >
    {{ isSubmitting() ? 'Saving...' : 'Create' }}
  </button>
</hlm-dialog-footer>
