<hlm-dialog-header>
  <h2 hlmDialogTitle>{{ 'jobs.create.title' | transloco }}</h2>
  <p hlmDialogDescription>{{ 'jobs.create.description' | transloco }}</p>
</hlm-dialog-header>

<form [formRoot]="jobForm" id="createJobForm" class="space-y-4 py-4">
  <hlm-field-group>
    <hlm-field>
      <label hlmLabel for="position">{{
        'jobs.create.position.label' | transloco
      }}</label>
      <input
        hlmInput
        id="position"
        [formField]="jobForm.position"
        placeholder="{{ 'jobs.create.position.placeholder' | transloco }}"
        class="w-full"
      />
      @if (
        jobForm.position().errors() | zodTransformAll: 'jobs.create';
        as tokens
      ) {
        {{ jobForm.position().errors() | json }}
        <hlm-field-error validator="required">{{
          'jobs.create.position.required' | transloco
        }}</hlm-field-error>
      } @else {
        <p hlmDialogDescription>
          {{ 'jobs.create.position.example' | transloco }}
        </p>
      }
    </hlm-field>
    <hlm-field>
      <label hlmLabel for="company">{{
        'jobs.create.company.label' | transloco
      }}</label>
      <input
        hlmInput
        id="company"
        [formField]="jobForm.company"
        placeholder="{{ 'jobs.create.company.placeholder' | transloco }}"
        class="w-full"
      />
      @if (
        jobForm.company().errors() | zodTransformAll: 'jobs.create';
        as tokens
      ) {
        <hlm-field-error validator="required">{{
          'jobs.create.company.required' | transloco
        }}</hlm-field-error>
      } @else {
        <p hlmDialogDescription>
          {{ 'jobs.create.company.example' | transloco }}
        </p>
      }
    </hlm-field>
    <hlm-field>
      <label hlmLabel for="link">{{
        'jobs.create.link.label' | transloco
      }}</label>
      <input
        hlmInput
        id="link"
        [formField]="jobForm.link"
        placeholder="{{ 'jobs.create.link.placeholder' | transloco }}"
        class="w-full"
      />
      @if (
        jobForm.link().errors() | zodTransformAll: 'jobs.create';
        as tokens
      ) {
        <hlm-field-error validator="invalid_format">{{
          'jobs.create.link.invalid_format' | transloco
        }}</hlm-field-error>
      } @else {
        <p hlmDialogDescription>
          {{ 'jobs.create.link.example' | transloco }}
        </p>
      }
    </hlm-field>

    <hlm-field>
      <label hlmLabel for="description">{{
        'jobs.create.description.label' | transloco
      }}</label>
      <textarea
        hlmTextarea
        id="description"
        [formField]="jobForm.description"
        placeholder="{{ 'jobs.create.description.placeholder' | transloco }}"
        rows="4"
        class="min-h-[120px] h-[120px] [field-sizing:fixed] overflow-y-auto"
      ></textarea>

      <p hlmDialogDescription>
        {{ 'jobs.create.description.example' | transloco }}
      </p>
    </hlm-field>

    @if (jobResource.status() === 'error') {
      <div class="text-sm font-medium text-destructive">
        <h4 hlmAlertTitle>{{ 'login.error.title' | transloco }}</h4>
        <p hlmAlertDescription>
          {{
            jobResource.error()?.message || ('login.error.message' | transloco)
          }}
        </p>
      </div>
    }
  </hlm-field-group>
</form>
<app-create-job-dialog-footer
  formId="createJobForm"
  [disableSubmit]="jobForm().invalid()"
  [isSubmitting]="jobResource.status() === 'loading'"
/>
