<hlm-dialog-header>
  <h2 hlmDialogTitle>{{ 'jobs.create.title' | transloco }}</h2>
  <p hlmDialogDescription>{{ 'jobs.create.description' | transloco }}</p>
</hlm-dialog-header>

<form [formRoot]="jobForm" id="createJobForm" class="space-y-4 py-4">
  <hlm-field-group>
    <hlm-field>
      <label hlmLabel for="position">{{
        'jobs.fields.position.label' | transloco
      }}</label>
      <input
        hlmInput
        id="position"
        [formField]="jobForm.position"
        placeholder="{{ 'jobs.fields.position.placeholder' | transloco }}"
        class="w-full"
      />
      @if (
        jobForm.position().invalid() &&
        (jobForm.position().touched() || jobForm.position().dirty())
      ) {
        <hlm-field-error validator="required">{{
          'jobs.fields.position.required' | transloco
        }}</hlm-field-error>
      } @else {
        <p hlmDialogDescription>
          {{ 'jobs.fields.position.example' | transloco }}
        </p>
      }
    </hlm-field>
    <hlm-field>
      <label hlmLabel for="company">{{
        'jobs.fields.company.label' | transloco
      }}</label>
      <input
        hlmInput
        id="company"
        [formField]="jobForm.company"
        placeholder="{{ 'jobs.fields.company.placeholder' | transloco }}"
        class="w-full"
      />
      @if (
        jobForm.company().invalid() &&
        (jobForm.company().touched() || jobForm.company().dirty())
      ) {
        <hlm-field-error validator="required">{{
          'jobs.fields.company.required' | transloco
        }}</hlm-field-error>
      } @else {
        <p hlmDialogDescription>
          {{ 'jobs.fields.company.example' | transloco }}
        </p>
      }
    </hlm-field>
    <hlm-field>
      <label hlmLabel for="link">{{
        'jobs.fields.link.label' | transloco
      }}</label>
      <input
        hlmInput
        id="link"
        [formField]="jobForm.link"
        placeholder="{{ 'jobs.fields.link.placeholder' | transloco }}"
        class="w-full"
      />
      @if (
        jobForm.link().invalid() &&
        (jobForm.link().touched() || jobForm.link().dirty())
      ) {
        <hlm-field-error validator="invalid_format">{{
          'jobs.fields.link.invalid_format' | transloco
        }}</hlm-field-error>
      } @else {
        <p hlmDialogDescription>
          {{ 'jobs.fields.link.example' | transloco }}
        </p>
      }
    </hlm-field>

    <hlm-field>
      <label hlmLabel for="description">{{
        'jobs.fields.description.label' | transloco
      }}</label>
      <textarea
        hlmTextarea
        id="description"
        [formField]="jobForm.description"
        placeholder="{{ 'jobs.fields.description.placeholder' | transloco }}"
        rows="4"
        class="min-h-[120px] h-[120px] [field-sizing:fixed] overflow-y-auto"
      ></textarea>

      <p hlmDialogDescription>
        {{ 'jobs.fields.description.example' | transloco }}
      </p>
    </hlm-field>
    <app-server-error-alert
      [status]="createJobStatus.status"
      [backendResponse]="backendResponse"
      translationPrefix="jobs.create"
    />
  </hlm-field-group>
</form>
<app-create-job-dialog-footer
  formId="createJobForm"
  [disableSubmit]="jobForm().invalid()"
  [isSubmitting]="createJobStatus.status() === 'loading'"
/>
