<hlm-card>
  <hlm-card-header class="flex items-start justify-between">
    <div>
      <h3 hlmCardTitle>
        <ng-icon name="lucideSun" /> {{ 'appearance.title' | transloco }}
      </h3>
      <p hlmCardDescription>{{ 'appearance.description' | transloco }}</p>
    </div>
  </hlm-card-header>
  <div hlmCardContent>
    <hlm-radio-group
      [value]="preferences.theme()"
      (valueChange)="handleAppearanceChange($event)"
      class="grid grid-cols-3 gap-4"
    >
      @for (option of appearanceOptions; track option.value) {
        <label
          for="radio-{{ option.value }}"
          class="group relative block cursor-pointer"
        >
          <hlm-radio
            [value]="option.value"
            [inputId]="'radio-' + option.value"
            class="absolute right-3 top-3"
          />
          <div [class]="cardClass(option.value)">
            <ng-icon [name]="option.iconName" />
            <span>{{ option.label() }}</span>
          </div>
        </label>
      }
    </hlm-radio-group>
  </div>
</hlm-card>
