<form class="space-y-6" (submit)="onSubmit($event)" novalidate>
  <hlm-field>
    <hlm-slider
      class="p-2"
      id="cleanup-period-slider"
      [value]="filterForm.period().value()"
      (valueChange)="filterForm.period().value.set($event)"
      (blur)="filterForm.period().markAsTouched()"
      [class]="sliderColorClass()"
      [min]="0"
      [max]="50"
      [step]="10"
      [showTicks]="true"
      [tickLabelInterval]="1"
      [formatTick]="formatTick"
    />

    <p hlmFieldDescription class="min-h-[40px] transition-colors duration-200">
      {{ explanationText() }}
    </p>
  </hlm-field>

  <hlm-field orientation="horizontal">
    <button hlmBtn type="submit">
      {{ 'privacySettings.datamanagement.cleanupPeriod.submit' | transloco }}
    </button>
  </hlm-field>
</form>
