<form class="space-y-6" (submit)="onSubmit($event)" novalidate>
  <hlm-field>
    <label hlmFieldLabel for="volume" class="text-foreground font-semibold"
      >Időszak szűrése:</label
    >

    <hlm-slider
      id="volume"
      [value]="filterForm.volume().value()"
      (valueChange)="filterForm.volume().value.set($event)"
      (blur)="filterForm.volume().markAsTouched()"
      [min]="0"
      [max]="50"
      [step]="10"
      [showTicks]="true"
      [tickLabelInterval]="1"
      [formatTick]="formatTick"
    />

    <p
      hlmFieldDescription
      class="text-sm font-medium mt-2 min-h-[40px] text-muted-foreground transition-colors duration-200"
    >
      {{ explanationText() }}
    </p>
  </hlm-field>

  <hlm-field orientation="horizontal">
    <button hlmBtn type="submit">Adatok tisztítása</button>
  </hlm-field>
</form>
