<hlm-dialog-header>
  <h2 hlmDialogTitle>{{ 'jobs.notes.createTitle' | transloco }}</h2>
  <p hlmDialogDescription>{{ 'jobs.notes.createDescription' | transloco }}</p>
</hlm-dialog-header>

<form [formGroup]="form" id="createNoteForm" (ngSubmit)="submit()">
  <hlm-field-group>
    <hlm-field>
      <label hlmLabel for="title">{{
        'jobs.notes.fields.title.label' | transloco
      }}</label>
      <input
        hlmInput
        id="title"
        formControlName="title"
        placeholder="{{ 'jobs.notes.fields.title.placeholder' | transloco }}"
        class="w-full"
      />
      @if (form.get('title')?.invalid && form.get('title')?.touched) {
        <hlm-field-error validator="required">{{
          'jobs.notes.fields.title.required' | transloco
        }}</hlm-field-error>
      } @else {
        <p hlmDialogDescription>
          {{ 'jobs.notes.fields.title.example' | transloco }}
        </p>
      }
    </hlm-field>
    <hlm-field>
      <label hlmLabel for="body">{{
        'jobs.notes.fields.body.label' | transloco
      }}</label>
      <textarea
        hlmTextarea
        id="body"
        formControlName="body"
        placeholder="{{ 'jobs.notes.fields.body.placeholder' | transloco }}"
        rows="4"
      ></textarea>
      @if (form.get('body')?.invalid && form.get('body')?.touched) {
        <hlm-field-error validator="required"
          >Body is a required field.</hlm-field-error
        >
      }
    </hlm-field>

    @if (submitError()) {
      <div class="text-sm font-medium text-destructive">
        {{ submitError() }}
      </div>
    }
  </hlm-field-group>
</form>
<app-create-job-dialog-footer
  formId="createNoteForm"
  [disableSubmit]="form.invalid"
  [isSubmitting]="isSubmitting()"
/>
