<div class="max-w-4xl mx-auto p-8 flex flex-col gap-8">
  <div>
    <h1 hlmH1>
      {{ 'privacySettings.title' | transloco }}
    </h1>
    <p hlmLead>
      {{ 'privacySettings.description' | transloco }}
    </p>
  </div>
  <app-visibility-management></app-visibility-management>
  <app-data-management></app-data-management>
  <app-cookie-management></app-cookie-management>
  <app-cookie-policy></app-cookie-policy>
  <app-privacy-policy></app-privacy-policy>
  <hlm-separator />
  <app-delete-account></app-delete-account>
</div>
