<hlm-alert variant="destructive" class="border-red-500/30 bg-red-500/5">
  <ng-icon class="text-[length:--spacing(12)]" name="lucideTrash2" />
  <h4 hlmAlertTitle class="text-[length:--spacing(6)]">
    {{ 'privacySettings.deleteAccount.title' | transloco }}
  </h4>
  <p hlmAlertDescription>
    {{ 'privacySettings.deleteAccount.description' | transloco }}
  </p>

  <div hlmAlertAction>
    <button
      hlmBtn
      size="sm"
      class="border-red-500/30"
      variant="destructive"
      (click)="onDeleteAccount()"
    >
      {{ 'privacySettings.deleteAccount.button' | transloco }}
    </button>
  </div>
  <app-server-error-alert
    [errorMessage]="deleteError()"
    translationPrefix="privacySettings.deleteAccount"
    cssClass="w-full"
  />
</hlm-alert>

@if (confirmationSent()) {
  <p class="w-full text-sm text-green-700">
    {{ 'privacySettings.deleteAccount.verificationEmailSent' | transloco }}
  </p>
}
