<div hlmCard class="flex justify-between p-6 shadow-sm">
  <hlm-card-header class="flex items-start justify-between">
    <h3 hlmCardTitle>{{ note().title }}</h3>
    <div>
      <button hlmBtn variant="ghost" size="icon-sm" (click)="onEdit()">
        <ng-icon hlm size="sm" name="lucidePencil" />
      </button>

      <button hlmBtn variant="ghost" size="icon-sm" (click)="onRemove()">
        <ng-icon hlm size="sm" name="lucideTrash2" />
      </button>
    </div>
  </hlm-card-header>
  <div hlmCardContent>
    <article>{{ note().body }}</article>
  </div>
  <hlm-card-footer>
    <span class="text-[10px] text-slate-400">
      {{ note().createdAt | appDate }}
    </span>
  </hlm-card-footer>
</div>
