<div
  hlmSidebarWrapper
  sidebarWidth="22rem"
  class="w-full border-r h-full flex flex-col bg-card"
>
  <hlm-sidebar>
    <div hlmSidebarHeader class="p-4 space-y-4">
      <div class="flex items-center justify-between gap-2">
        <div class="space-y-1">
          <h1 class="text-xl font-bold tracking-tight">Job Tracker Lite</h1>
          <p class="text-base font-medium text-slate-500">Angular</p>
        </div>
        @if (!isRoot()) {
          <button
            hlmBtn
            [hlmTooltip]="'Go back to the previous page'"
            variant="ghost"
            size="lg"
            routerLink="/"
            class="!p-2 text-muted-foreground hover:bg-background/80"
            aria-label="Back"
          >
            <ng-icon name="lucideArrowLeft" />
          </button>
        }
      </div>
    </div>
    <div class="flex flex-col gap-2"></div>

    <div hlmSidebarContent>
      <ng-content></ng-content>
    </div>
    <div hlmSidebarFooter class="p-4 border-t bg-muted/30 shrink-0">
      <div class="space-y-3">
        <button
          hlmBtn
          [hlmTooltip]="'This function not implemented yet'"
          variant="outline"
          size="sm"
          class="w-full gap-2 bg-background justify-center text-muted-foreground hover:bg-background/80"
        >
          <ng-icon name="lucideLogOut" />
          Logout
        </button>

        <div class="space-y-1 text-[11px] text-muted-foreground">
          <div class="flex items-center justify-between">
            <span>Version 0.1.0</span>
            <span>Alpha</span>
          </div>
          <p class="text-center font-medium">© 2026 Job Tracker Lite</p>
        </div>
      </div>
    </div>
  </hlm-sidebar>
</div>
